@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I started my career in Hardware and Firmware. The most interesting project I worked on at that time was
    a fix for a huge delivery of powerboards that spiked when cold. Using a memory oscilloscope I had it trigger
    when the voltage exceeded the tolerances of the 8030 chip. I was able to calculate the exact moment the systems
    check failed and patched in a fix for these new powerboards. It went into production. These are the sorts of
    puzzles I love to figure out that makes Computer Science exciting.
</p>
<p>I then moved into software and worked on Wall Street for 18 years. I created complex systems to analyze banking
    risk management, execute trades for fixed income and equity. My favorite moment was when NASA called our team
    because they wanted us to teach them how to use a programmable printer.
</p>
<p>
    I was then the CIO of a start-up during the DOT COM Boom and Bust. That was lots of fun managing people,
    projects, budgets, and daily operations. That's also when I got started with .NET.
</p>
<p>
    Since working with .NET I've had the pleasure of working for Hedge Funds, Start-Ups, Social Media, 
    Computer Forenzics, and a Law Firm. Computer Science has given me the opportunity to work in every industry
    imaginable. This is what makes Computer Science exciting.
</p>
<p>
    When not working on the next great coding project I have lead a very interesting and fulfilling life. Friends
    have told me to write my autobiography.
</p>
<p>
    At age 16 I did my first Century bicycle ride for charity. I have stuck with cycling to this day. I not only
    ride for fun, but I race as well. I love my scary fast Specialized Venge.
</p>
<p>
    During all of the 1990's I was a competition aerobatic pilot, and I even owned a world-class unlimited Extra
    aircraft. My personal records are +14.6 and -8.0 G's during my maneuvers.
</p>
<p>
    Today I've taken my obsession with the ocean to an amazing level. I've become a professional diver. I get 
    to share my love of the ocean and of diving with new students almost every weekend of the year, turning them
    into certified open water divers. If you dive and want a tour guide for the many wonderful dive sites around
    Monterey, CA you can just ask me, Rebecca, The Scuba Girl, LLC.
</p>
<p>
    These are just a few of the things I've accomplished in my life. There's more, but those are the fun ones.
</p>