@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    6 Locksley Avenue<br />
    # 9F<br />
    San Francisco, CA 94122<br />
    <abbr title="Phone">P:</abbr>
    415.225.2736
</address>

<address>
    <strong>Email:</strong>&nbsp;<a href="mailto:rebecca@thescubagirl.com">Rebecca@TheScubaGirl.com</a><br />
</address>