@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Why I want to work at Berkshire Hathaway</h2>
    <p>As a shareholder of BRK.B I already have an interest in Berkshire Hathaway. I believe it to be a 
        reputable company with a track record of success.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>History</h2>
        <p>
            Founded in 1839 by Oliver Chace as the Valley Falls Company, a textile manufacturing company. Through
            the years mergers with companies such as the Berkshire Cotton Manufacturing Company, and then the
            Hathaway Manufacturing Company lead to the creation of Berkshire Hathaway.
        </p>
        <p>
            In 1962 Warren Buffett began buying Berkshire Hathaway stock. In 1964 Seabury Stanton orally offered
            Warren Buffett $11 1/2 per share. When presented with a written agreement for less per share 
            Warren Buffett got upset and instead continued to buy more shares until he was the majority shareholder,
            upon which he fired Stanton.
        </p>
        <p>
            Warren Buffett then began to grow the company beyond textiles into the conglomerate it is today.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Conglomerate</h2>
        <p>
            Berkshire Hataway today is a major multi-national corporation that owns many of the brands that are
            a part of all our lives. Companies like GEICO that I worked for in the 1980s.
        </p>
        <p>
            It would be nice to work for this company again.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/List_of_assets_owned_by_Berkshire_Hathaway" target="_blank">List of assets &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Amazing team</h2>
        <p>
            The interview process has been the most intensive of all interviews in my career. This has impressed
            me most about Berkshire Hathaway and makes me want to be a part of the team.
        </p>
        <p>
            When a team of great minds gets together great things can be accomplished. Accomplishments like 50 
            years ago last Saturday, July 20, 1969 when man landed on the moon. The lunar module was made in my
            hometown of Bethpage, NY by a team of amazing men and women.
        </p>
        <p>
            I want to be part of a team like that!
        </p>
        <p><a class="btn btn-default" href="/Home/Lander">Lunar Lander &raquo;</a></p>
    </div>
</div>
